/*format screen*/
* {
    margin: 0;
    padding: 0;
    font-family: "Almarai", sans-serif;
    box-sizing: border-box;
}

/*full screen*/
.container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: #f5f5f5;
}

.div-header{
    width: 100vw;
    padding: 1em 0 1em 0;
    justify-content: center;
    display: flex;
 }

.logo{
    width: 5em;
}

.div-main{
    padding: 0 6em 0 6em;
    margin: 1.5em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*div clock*/
.one-div-clock, .two-div-clock, .three-div-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px 0 5px;
    padding: 0 0 15px 0;
    border-radius: 5px;
    border:  solid 1px #d5d5d5;
    background: #fff;
}

/*payment via paid market, secure environment*/
.info {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

/*image clock*/
.image {
    width: 10vw;
    margin-bottom: 30px;
}

/*title clock*/
.title {
    color: #070707;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
}

/*button purchase*/
.button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    background: #105134;
    cursor: pointer;
}

/*effect when mouse over button*/
.button:hover {
    background: #196d47;
    transition: all 0.5s ease-out;
}

/*footer*/
.div-footer {
    background: #105134;
    margin: 0;
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    justify-content: center;
}

.footer {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 12px;
}

/*Developed by Witor Linhares*/