/*Formatar tela*/
* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    box-sizing: border-box;
}

/*Tela geral*/
.general {
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
}

/*-------Todo o lado esquerdo-------*/
.left-div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7em;
}

/*Titulo*/
.left-div-title {
    color: #303030;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

/*Imagem*/
.left-div-image {
    width: 25em;
}

/*-------Todo o lado direito-------*/
.right-div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
}

/*Caixa formulário*/
.form-box {
    width: 70%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #79D754;
    border-radius: 10px;
}

/*Titulo formulário*/
.form-title {
    color: #fff;
    font-weight: 400;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

/*Input*/
.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    color: #303030;
    font-size: 12;
    outline: none; 
}

/*label*/
.textfield > label{
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

/*Digite seu e-mail / Digite sua senha*/
.textfield > input::placeholder{
    color: #929292;
    font-size: 1.2em;
    font-weight: 300;
}

/*Botão*/
.button{
    width: 100%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    background: #303030;
    cursor: pointer;
}

/*Efeito ao passar o mouse sob o botão*/
.button:hover{
    background: #1f1f1f;
}

/*Responsividade*/
@media only screen and (max-width: 600px) {
    
    .general{
        width: 100vw;
        height: auto;
        flex-direction: column;
}

    .left-div-title{
        font-size: 1.5em;
        text-align: center;
        margin: 0em 0em 1em;
}

    .left-div{
        width: 100vw;
        height: 100vh;
        margin: -6em 0em;
        padding: -5em;
}

    .right-div{
        width: 100%;
        height: auto;
        margin: 0em 0em 4em;
}

    .left-div-image{
        width: 80vw;
        padding: 0;
}

    .form-box{
        width: 90vw;
}
}

/*Desenvolvido por Witor Linhares*/